#menubar {
	z-index: 1;
}

#script-sidebar {
	position: absolute;
	left: 0;
	top: 32px;
	bottom: 32px;
	width: 313px;
	background-color: #eee;
	overflow: auto;
}

#script-editor {
	position: absolute;
	top: 33px;
	left: 290px;
	right: 300px;
	bottom: 32px;
}