#menubar {
	z-index: 1;
}

#script-sidebar {
	position: absolute;
	left: 0;
	top: 32px;
	bottom: 32px;
	width: 313px;
	background-color: #eee;
	overflow: auto;
}

#script-sidebar .file-list {
    list-style: none;
}

#script-sidebar .file-list li {
    display: inline-block;
    float: left;
    clear: left;
}

#script-sidebar .file-list li:hover {
    cursor: pointer;
    background-color: #aaa;
    color: #eee;
}

#script-editor {
	position: absolute;
	top: 33px;
	left: 290px;
	right: 300px;
	bottom: 32px;
}

.file-list {
	width: 100%;
	height: 100px;
}